body {
    background: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overflow: hidden;
}

#canvasContainer {
    border: none;
    cursor: pointer;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: #eeeeee; /* Debug color */
    image-rendering: pixelated;
}
